*{
    background-color:rgb(208, 208, 144);
}
body{
    padding: 0;
    margin: 0;

}

td{
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: large;
    font-weight: bold;

}
table,td,tr{
    border-radius: 10px;
}
td:hover{
    
    transition: 200ms;
    transform: scale(1.1);
}
.digit{
    line-height: 0px;
}
.symbol{
 line-height: 0px;
}
h1{
    background-color: rgb(7, 248, 7);
    color: rgb(6, 6, 6);
    width: 40%;
    font-weight: bold;
    line-height: 100px;
    border-radius: 20px;

}

.color_green{
    background-color: green;
}
.color_red{
    background-color: red;
}
.color_orange{
    background-color: orange;
}
.color_sky{
    background-color: skyblue;

}
.color_purple{
    background-color: purple;
}
.color_yellow{
    background-color: yellow;
}
.color_pink{
    background-color: pink;
}
.color_grey{
    background-color: grey;
}
.color_blue{
    background-color: blue;
}